@import url('https://fonts.googleapis.com/css2?family=Sono:wght@300&display=swap');
:root{
    --firts-color:#780dea;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f4f4f6;
    height: 100vh;
    font-family: 'Sono', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    /* font-size: 1em; */
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--firts-color);
    gap: 1em;
    padding: 1.4em;
}
.nav__logo{
    color: #fff;
}
.nav__link{
    text-decoration: none;
    color: #fff;
    margin-right: 15px;
    text-align: center;
    padding: .6em 1em;
    border-radius: .4em;
    transition: bacgraund 1s;
}
.nav__link:hover{
    background-color: #fff;
    color: var(--firts-color);
}
.section__open{
    padding: 0.8em;
}
.btn{
    background-color: var(--firts-color);
    padding: .6em 1.2em;
    text-decoration: none;
    color: #fff;
    border-radius: 4px;
}
.textOpen{
    margin-bottom: 1em;
    opacity: .7;
}
.cont__sectForm{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section__form{
    max-width: 500px;
    background-color: #fff;
    padding: 1em;
    border-radius: .5em;
}
.login{
    width: 100%;
    padding: 10px;
}
.login input::placeholder{
    font-size: .9em;
    transition: font-size 1s;
}
.login input:focus::placeholder{
    color: #780dea;
    font-size: 1em;
}
.login input{
    width: 100%;
    padding: .6em;
    margin-top: 1em;
    outline: none;
    border-radius: 4px;
    border: 2px solid rgba(119, 132, 163, 0.234);
}
.title__form{
    text-align: center;
    color: var(--firts-color);
}
.btnLogin{
    padding: .7em;
    background-color: var(--firts-color);
    outline: none;
    color: #fff;
    border: none;
}

/* Responsive */
/* 
@media screen and (max-width:650px){
    nav{
        flex-direction: column;
    }
    .contLinks__nav{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
} */